.field-form {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 129px;
    row-gap: 3px;
    max-width: 600px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    padding: 38px 45px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    color: #787878;
    border: 1px solid orange;
    
}
.field-form__article {
    color: #787878;
    text-align: center;
    font-size: 40px;
    margin-bottom: 13px;
}

.field-form__bottom {
    display: flex;
    text-align: center;
    appearance: none;
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    
    color: #fff;
    padding: 5px 16px;
    font-size: 32px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.field-form__block {
    margin-bottom: 11px;
}
.field-form__name {
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.field-form__chekbox {
    width: 24px;
    height: 24px;
    border-radius: 7px;
    border: 2px;
    margin-right: 10px;
}
.field-form__input {
    width: 100%;
    border-radius: 4px;
    font-size: 28px;
    resize: none;
    border: 2px solid #787878;
}
.style-header__image {
    padding: 18px 0px 0px 30px;
}
.field-form__input::placeholder {
    font-weight: 700;
    padding: 5px 13px;
    opacity: 0.4;
}
.field-form__blockForButton {
    margin-bottom: 11px;
    padding-top: 56px;
}
.field-form__radio-button {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.field-form__radio-button > input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}
.field-form__radio-button > label {
    padding-left: 10px;
}
.field-form__radio-button > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #787878;
}

.field-form__radio-button label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #787878;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2 opacity;
}
.field-form__radio-button > input:checked + label::before {
    opacity: 1;
    background: #787878;
}

.field-form__checkmark {
    position: relative;
    display: flex;
    align-items: center;
}
.field-form__checkmark > input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
}
.field-form__checkmark > label {
    padding-left: 10px;
}
.field-form__checkmark > div {
    width: 24px;
    height: 24px;

    border: 2px solid #787878;
}

.field-form__checkmark label::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    background: #787878;

    opacity: 0;
    transition: 0.2 opacity;
}
.field-form__checkmark > input:checked + label::before {
    opacity: 1;
    background: #787878;
}

.required::before {
    content: "*";
    margin-right: 4px;
}
.required {
    content: "*";
    margin-left: -10px;
}

.error input {
    border-color: red;
}

.error textarea {
    border-color: red;
}
.error .err-msg {
    display: block;
}

.field-form__label {
    display: flex;
    justify-content: space-between;
}
.err-msg {
    display: none;
    font-size: 16px;
    font-weight: bold;
    color: red;
}

