.shoppingCart{
    width: 6em;
    
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
    background-color: lightgreen;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 10px;
}

.shoppingCart-tag{
    
    
    color: ;
    font-size: 16px;
    
}