.base-body {
    background-color: #262626;
    margin: 0 auto;
    padding: 0 30px;
    
    
    
}
.base-header{ 
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
    padding-right: 42px;
    background-color: #262626;
    border-bottom: 2px solid orange;
    
    
}
.base-header-top{
    
    
    
    
}
.base-header__mainPage{
   font-size: 21px;
   color: antiquewhite;
   text-decoration: none;
   padding: 20px;
}

.base-header-tag{
    
}

